$body-bg: #121200;
$body-font-family: 'Ubuntu Condensed', Open Sans Condensed, sans-serif;
$body-font-size: 16px;

$title-font-family: 'Roboto Slab', Josefin Slab, serif;

$placeholder-color: #d8d499;
$button-color: #ddd;
$button-disabled-color: #555;

$highlight-color: #f2dc1e;
$error-color: #ff5454;